//COLORS
$dark-color: #222222;
$dark-light: #191a1d;
$red-color: #f0001f;
$grey-color: #a1a8ab;

$danger-color-light: #cc4444;
$danger-color: #ff4444;
$danger-color-dark: #CC0000;

$success-color: #00C851;
$success-color-dark: #007E33;

$warning-color: #ffbb33;
$warning-color-dark: #d8e910;

$info-color: #33b5e5;
$info-color-dark: #0099CC;

$default-color: #2BBBAD;
$default-color-dark: #00695c;

$primary-color: #4285F4;
$primary-color-dark: #0d47a1;

$secondary-color: #aa66cc;
$secondary-color-dark: #9933CC;

$elegant-color: #2E2E2E;
$elegant-color-dark: #212121;

$light-main: #f9f9f9;

// FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 100vw;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
