@font-face {
  font-family: cubano;
  src: url(../fonts/cubano.ttf); }

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased; }

body {
  overflow-x: hidden;
  position: relative;
  font-size: 1.6rem; }

* {
  padding: 0;
  margin: 0; }

*,
*::after,
*::before {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

li,
ul {
  list-style-type: none; }

img {
  display: inline-block;
  vertical-align: center; }

input {
  border: 0;
  font-family: cubano; }

body {
  background-color: #FFFFFF;
  color: #212121; }

.position-relative {
  position: relative !important; }

.display-flex {
  display: flex !important; }

.flex-justify-between {
  justify-content: space-between !important; }

.flex-auto {
  flex: 1 1 auto !important; }

.flex-items-center {
  align-items: center; }

.px-2 {
  padding: 0 8px; }

.px-3 {
  padding: 0 16px; }

.pl-2 {
  padding-left: 8px !important; }

.mx-2 {
  margin: 0 8px; }

.mx-3 {
  margin: 0 16px; }

.text-bold {
  font-weight: 600; }

.container-g {
  max-width: 1012px;
  margin: 0 auto; }

.f5 {
  font-size: 14px !important; }

.fake-div {
  background-color: #333;
  overflow-y: hidden; }
  .fake-div:hover h1 {
    transition: all .3s;
    color: #0a85c2; }
  .fake-div .fake-heading {
    color: #FFF;
    text-align: center;
    font-family: cubano;
    padding: 2rem 0;
    animation-name: ops;
    animation-duration: 1s;
    animation-iteration-count: infinite; }
  .fake-div ul {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 1rem 0 2rem 0; }
    .fake-div ul li {
      color: #17cb64;
      font-size: 3rem;
      font-family: cubano;
      letter-spacing: .3rem;
      transition: all 200ms;
      text-shadow: 0 1rem 0.4rem rgba(23, 203, 100, 0.4); }
      .fake-div ul li:hover {
        transform: translateY(-2px);
        text-shadow: 0 0px 1rem rgba(23, 203, 100, 0.4); }
      .fake-div ul li:active {
        transform: translateY(2px);
        color: #01f23d;
        text-shadow: 0 1px 0rem rgba(255, 255, 255, 0.4); }

.fake-box {
  color: #fff;
  width: 75rem;
  margin: 4rem auto;
  border-radius: 7px;
  background-color: #333;
  padding: 6rem 7rem;
  line-height: 7rem;
  cursor: pointer;
  text-align: center;
  font-family: cubano;
  letter-spacing: .4rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.55);
  transition: all 300ms;
  animation-name: fakebox;
  animation-duration: 1.2s; }
  .fake-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75);
    letter-spacing: .5rem; }
  .fake-box:active {
    transform: translateY(2px) scale(0.95);
    box-shadow: 0 0rem 6rem rgba(0, 0, 0, 0.75); }

@keyframes fakebox {
  0% {
    transform: translateX(-200%) rotate(0);
    opacity: .1;
    text-shadow: 0 0 7rem #ff0000;
    background-color: #777; }
  50% {
    transform: translateX(7rem) rotate(4deg);
    opacity: .56;
    background-color: #444; }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
    background-color: #333; } }

@keyframes ops {
  0% {
    letter-spacing: 5px; }
  50% {
    letter-spacing: 7px; }
  100% {
    letter-spacing: 5px; } }
