.fake-div {
  background-color: #333;
  overflow-y: hidden;
  &:hover {

    h1 {
      transition: all .3s;
      color: #0a85c2;
    }
  }

  .fake-heading {
    color: #FFF;
    text-align: center;
    font-family: cubano;
    padding: 2rem 0;
    animation-name: ops;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  ul {
    display: flex;
    align-items:flex-end;
    justify-content: space-around;
    padding: 1rem 0 2rem 0;
    li {
      color: #17cb64;
      font-size: 3rem;
      font-family: cubano;
      letter-spacing: .3rem;
      transition: all 200ms;
      text-shadow: 0 1rem .4rem rgba(#17cb64, .4);
      &:hover {
        transform: translateY(-2px) ;
        text-shadow: 0 0px 1rem rgba(#17cb64, .4);
      }
      &:active {
        transform: translateY(2px) ;
        color: #01f23d;
        text-shadow: 0 1px 0rem rgba(#ffffff, 0.4);
      }
    }
  }
}

.fake-box {
  color: #fff;
  width: 75rem;
  margin: 4rem auto;
  border-radius: 7px;
  background-color: #333;
  padding: 6rem 7rem;
  line-height: 7rem;
  cursor: pointer;
  text-align: center;
  font-family: cubano;
  letter-spacing: .4rem;
  box-shadow: 0 2rem 4rem rgba(#000, .55);
  transition: all 300ms;
  animation-name: fakebox;
  animation-duration: 1.2s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 .5rem 1rem rgba(#000, .75);
    letter-spacing: .5rem;
  }

  &:active {
    transform: translateY(2px) scale(.95);
    box-shadow: 0 0rem 6rem rgba(#000, .75);
  }

}

@keyframes fakebox {
  0% {
    transform: translateX(-200%) rotate(0);
    opacity: .1;
    text-shadow: 0 0 7rem #ff0000;
    background-color: #777;
  }

  50% {
    transform: translateX(7rem) rotate(4deg);
    opacity: .56;
    background-color: #444;
  }

  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
    background-color: #333;
  }
}

@keyframes ops {
  0% {
    letter-spacing: 5px;
  }

  50% {
    letter-spacing: 7px;
  }

  100% {
    letter-spacing: 5px;
  }
}
